<nav id="menu">
	<a class="close-button"></a>
	<div class="nav-wrapper">
		<p class="nav-label">Tags</p>
		<ul>

			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation">
				<a href="{{url absolute="true"}}">{{label}}</a>
  			{{/foreach}}


			{{#get "posts" limit="all" order="slug asc" filter="primary_tag:chapter" as |post|}}
				{{#post}}
				<li class="nav-{{slug}}{{#if current}}active{{/if}}" role="presentation">
					<a href="{{url absolute="true"}}">{{title}}</a>
				</li>
				{{/post}}
			{{/get}}

			{{#if @blog.twitter}}
			<li class="nav-twitter"><a href="{{twitter_url}}" title="{{@blog.twitter}}"><i class="ic ic-twitter"></i> Twitter</a></li>
			{{/if}}
			{{#if @blog.facebook}}
			<li class="nav-facebook"><a href="{{facebook_url}}" title="{{@blog.facebook}}"><i class="ic ic-facebook"></i> Facebook</a></li>
			{{/if}}

			<!--
			{{#if @labs.subscribers}}
			<li class="nav-subscribe"><a href="{{@blog.url}}/subscribe/"><i class="ic ic-mail"></i> Subscribe</a></li>
			{{else}}
			<li class="nav-rss"><a href="{{@blog.url}}/rss/"><i class="ic ic-rss"></i> Subscribe</a></li>
			{{/if}}
			-->

		</ul>
	</div>

	<script>
		var path = window.location.pathname.replace('index.html', '')
		path = path.substring(1, path.length -1)

		var current = document.getElementsByClassName("nav-"+path)[0]
		if (current) current.className += ' active'
	</script>
</nav>
